
.btn{background-color:#07853c ;
    border: none;
    padding: 13px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    



}


header{padding-top: 16px;

    padding-bottom: 16px;

}

nav{width:1600px;
    height: 92px;
    
    margin: 0px auto;
    align-items: center;
    

}

.logo div {

    display: flex;
    justify-content: space-around;

}

.logo image{width: 136px;height: 60px;


}

nav .menu {display: flex;
    list-style-type: none;
    gap:32px ;
    align-items: center;
    

}

nav .menu a{ color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;


}

#banner {background-color: black;
    width: 2024px;
    height: 1000px;
        

     }
.open{justify-content:;
    color: #07853c;
    display: block;
    width: 200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    
    

}

.banner-content { text-align: center;
    font-family:Arial, Helvetica, sans-serif;

    padding:195px 636px ;
    margin-top: -39px;
    margin-left: -221px;

}
 

    







.banner-content h1 {
    font-size:90px ;
    font-weight: bold;
    color:white ;
    
    

}
.banner-content p{color: white;
    font-weight: 400;
    font-size: 26px;
    
    line-height: 2;





}
  
.banner-content .h1{color: #07853c; 



} 
.button {display: flex;
    gap:10px ;
    margin: 0 auto;



}

.b  { color: white;
    background-color: black;
    padding:16px 16px 16px 46px;
    border: 1px dotted white;
    font-size:16px;
    font-weight:bold;
    justify-content: center;
    margin: 0 auto;
    border-radius:5px;


}

.a {background-color:#07853c ;
    border: none;
    padding: 16.5px 46px 16.5px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin:0 auto;

}






 



