
.btn{background-color:#07853c ;
    border: none;
    padding: 13px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    



}


header{padding-top: 16px;

    padding-bottom: 16px;

}

nav{width:1600px;
    height: 92px;
    
    margin: 0px auto;
    align-items: center;
    

}

.logo div {

    display: flex;
    justify-content: space-around;

}

.logo image{width: 136px;height: 60px;


}

nav .menu {display: flex;
    list-style-type: none;
    gap:32px ;
    align-items: center;
    

}

nav .menu a{ color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;


}

nav .menu .btn{justify-content:space-around;

}